#holder {
    border: 4px dashed #ccc;
    width: 400px;
    min-height: 200px;
    margin: 20px auto;
    background-color: #f3f3f3;
}
#holder.hover {
    border: 4px dashed #0c0;
    outline-color: #c8dadf;
    background-color: #fff;
}
progress { width: 100%; }
progress:after { content: '%'; }
.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}
.hidden { display: none !important;}
.thumbLeft {
    float: left;
    margin: 0px 1ex 1ex 0px;
}
.thumbClear {clear: both;}
.attrName {font-weight: bold;}
.box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-top: 1em;
    margin-bottom: 40px;
}
.box__dragndrop {
    text-align: center;
}
